
div.items {
	
	float:left;
	
	border-radius: 15px;
	background: #ffe3f1;
	width: 19%;
	flex-direction: column;
	min-height: 150px;

	padding: 5px 5px 15px 15px;
  
	margin: 20px 20px 20px 20px;
	
	text-align:center;
	
}

div.top {
	
	float:left;
	
	border-radius: 15px;
	background: #ffe3f1;
	width: 21%;
	flex-direction: column;
	min-height: 150px;

	padding: 5px 5px 15px 15px;
  
	margin: 20px 20px 20px 20px;
	
	text-align:center;
	
}

div.tool {
	
	float:right;
	
	border-radius: 15px;
	background: #ffe3f1;
	width: 21%;
	flex-direction: column;
	min-height: 150px;

	padding: 5px 5px 15px 15px;
  
	margin: 20px 20px 20px 20px;
	
	text-align:center;
	
}

div.abyss {
	
	float:right;
	
	border-radius: 15px;
	background: #ffe3f1;
	width: 19%;
	flex-direction: column;
	min-height: 150px;

	padding: 5px 5px 15px 15px;
  
	margin: 20px 20px 20px 20px;
	
	text-align:center;
	
}


div.chrview {
	
    clear: both;
  
    border-radius: 15px;
	background: #ffe3f1;
	width: 55%;
	flex-direction: column;
	min-height: 150px;

	padding: 5px 5px 15px 15px;
  
	margin: auto;
	
	text-align:center;
	
}

div.talents {
	
    float: left;
  
    border-radius: 15px;
	background: #ffe3f1;
	width: 45%;
	flex-direction: column;
	min-height: 150px;

	padding: 5px 5px 5px 5px;
  
	margin: 20px 20px auto;
	
	text-align: center;
	
}

div.weapMat {
	
    float: right;
  
    border-radius: 15px;
	background: #ffe3f1;
	width: 45%;
	flex-direction: column;
	min-height: 150px;

	padding: 5px 5px 5px 5px;
  
	margin: 20px 20px auto;
	
	text-align: center;
	
}



h1 {
	
	text-align:center;
	color: #bf6591;
	
}

h2 {
	
	text-align:center;
	color: #d179a4;
	
}

h3 {
	
	text-align:center;
	color: #d179a4;
	
}

h4 {
	
	text-align:center;
	color: #d179a4;
	
}

p {
	
	text-align:center;
	color:#d681aa;
	
}

a:link {
	
	text-decoration: none;
	color:#d681aa;
}

a:visited {
	
	text-decoration: none;
	color:#d179a4;
}

a:hover {

	text-decoration: none;
	color:#a66283;
	
}

a:active {

	text-decoration: none;
	color:#d179a4;
	
}

td {

	color: #d681aa;
	border-radius:10px;

}

th {

	color: #d681aa;
	border-radius:10px;
	background-color: #fff;
	
}

#content-desktop {display: block;}
#content-mobile {display: none;}

@media screen and (max-width: 750px) {

	#content-desktop {display: none;}
	#content-mobile {display: block;}
}

.center {
	margin-left: auto;
	margin-right: auto;
}
